@model OrgaTournoi.Models.PersonnageJeuViewModel

@{
    Layout = "_Layout";
    ViewData["lien"] = "/css/liste.css";
}

<div class="container-fluid gauche-droite">
    <div class="gauche">
        <div class="gauche-haut bg-image" style="background-image:url('https://via.placeholder.com/150');">
            <h2>@Model.Jeu.Nom</h2>
        </div>
        <div class="gauche-bas">
        </div>
    </div>

    <div class="droite">
        <h2>Liste des persos</h2>
        <div class="row">
                        
            @foreach (var personnage in Model.Personnages)
            {
                <div class="col-2">
                    <img src="https://via.placeholder.com/50" />
                    @personnage.Nom
                </div>
            }
        </div>
    </div>
</div>
